<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address</title>
</head>
<body bgcolor="yellow">
        <font size="4"
              face="verdana"
              color="yellow">
<center><h1>Check_Address </h1></center><br><br>


<form  method="post">
    <div>
    <center><h1>District 1 :<input type="text" name="city1"  placeholder="Enter ur district name" required></h1></center>
    <center><h1>District 2 :<input type="text" name="city2"  placeholder="Enter ur friend's district name" required></h1></center>
	<center><h1>Taluka 1 :<input type="text" name="Tq1"  placeholder="Enter ur taluka name" required></h1></center>
	<center><h1>Taluka 2 : <input type="text" name="Tq2"  placeholder="Enter ur friend's taluka name" required></h1></center>

    <br>
        <center><h1><input type="submit"><input type="reset"></h1></center><br>
    </div>

</form>
            </font>
</body>
</html>
